# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/
ENV/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# If using Django migrations cache
*/migrations/__pycache__/

# IDE / editor
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db

# Environment / secrets
.env
*.secret
