{% extends "auctions/layout.html" %}



{% block body %}
    <img src="{{ product.auction_image }} " alt="{{ product.title }} " width="200" height="250">
        <h3>{{ product.title }}</h3>
       
       <h6 class="flex-container-auction-ele" ><strong>Price:</strong> ₹ {{ product.initial_price }}
        <div>
             {{ product.description }}
        </div>

        <p><strong>Category: </strong>{{ product.category }}</p> 

        <p><strong>Comments made:</strong></p>
        <li>
            {{ product.comments }}
        </li>

        
        



    <a href="{% url 'index' %}">Go Home</a>
{% endblock %}